---
name: Continuous Integration

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test-gtest-to-generic-execution-container:
    runs-on: ubuntu-latest
    container: ghcr.io/philips-software/amp-devcontainer-cpp:v6.3.0@sha256:30de1e63a8f3da17e3e19a0e790d524f6a26935e7c9a2f70605699759bf3e493
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: lukka/run-cmake@af1be47fd7c933593f687731bc6fdbee024d3ff4 # v10.8
        with:
          cmakeListsTxtPath: test/gtest-to-generic-execution/CMakeLists.txt
          workflowPreset: configure-build-test
        env:
          GTEST_OUTPUT: "xml:/tmp/testresults/"
      - uses: ./
        with:
          input: /tmp/testresults/*.xml
          output: gtest-generic-execution.xml
          transformation: gtest-to-generic-execution
      - run: diff -s gtest-generic-execution.xml test/gtest-to-generic-execution/expected-gtest-generic-execution-container.xml
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: gtest-generic-execution-container
          path: gtest-generic-execution.xml
          if-no-files-found: error

  test-gtest-to-generic-execution-native:
    strategy:
      matrix:
        runner: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: lukka/get-cmake@bb2faa721a800324b726fec00f7c1ff7641964d1 # v4.2.0
      - uses: lukka/run-cmake@af1be47fd7c933593f687731bc6fdbee024d3ff4 # v10.8
        with:
          cmakeListsTxtPath: ${{ github.workspace }}/test/gtest-to-generic-execution/CMakeLists.txt
          workflowPreset: configure-build-test
        env:
          GTEST_OUTPUT: "xml:${{ github.workspace }}/testresults/"
      - uses: ./
        with:
          input: ${{ github.workspace }}/testresults/*.xml
          output: gtest-generic-execution.xml
          transformation: gtest-to-generic-execution
      - shell: bash
        run: diff --strip-trailing-cr -s gtest-generic-execution.xml test/gtest-to-generic-execution/expected-gtest-generic-execution-${{ runner.os }}.xml
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: gtest-generic-execution-${{ runner.os }}
          path: gtest-generic-execution.xml
          if-no-files-found: error
