---
name: Pull Request Report

on:
  pull_request:
    types: [closed]

permissions:
  contents: read

jobs:
  add-pr-report:
    permissions:
      contents: read
      checks: read
      pull-requests: write
      repository-projects: read
      actions: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: philips-software/pull-request-report-action@39e2f082490099021474c109cb207953221a8e47 # v0.1.5
        env:
          GITHUB_TOKEN: ${{ github.token }}
